config/config.json
.vscode/launch.json
.vscode/tasks.json
bin/Debug/net6.0/Guilded.Base.dll
bin/Debug/net6.0/Guilded.dll
bin/Debug/net6.0/GuildedFRthisTime.deps.json
bin/Debug/net6.0/GuildedFRthisTime.dll
bin/Debug/net6.0/GuildedFRthisTime.exe
bin/Debug/net6.0/GuildedFRthisTime.pdb
bin/Debug/net6.0/GuildedFRthisTime.runtimeconfig.json
bin/Debug/net6.0/Newtonsoft.Json.dll
bin/Debug/net6.0/RestSharp.dll
bin/Debug/net6.0/RestSharp.Serializers.NewtonsoftJson.dll
bin/Debug/net6.0/System.Reactive.dll
bin/Debug/net6.0/System.Reactive.Linq.dll
bin/Debug/net6.0/Websocket.Client.dll
bin/Debug/net6.0/config/config.json
obj/GuildedFRthisTime.csproj.nuget.dgspec.json
obj/GuildedFRthisTime.csproj.nuget.g.props
obj/GuildedFRthisTime.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/GuildedFRthisTime.AssemblyInfo.cs
obj/Debug/net6.0/GuildedFRthisTime.AssemblyInfoInputs.cache
obj/Debug/net6.0/GuildedFRthisTime.assets.cache
obj/Debug/net6.0/GuildedFRthisTime.csproj.AssemblyReference.cache
obj/Debug/net6.0/GuildedFRthisTime.csproj.CopyComplete
obj/Debug/net6.0/GuildedFRthisTime.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/GuildedFRthisTime.csproj.FileListAbsolute.txt
obj/Debug/net6.0/GuildedFRthisTime.dll
obj/Debug/net6.0/GuildedFRthisTime.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/GuildedFRthisTime.genruntimeconfig.cache
obj/Debug/net6.0/GuildedFRthisTime.GlobalUsings.g.cs
obj/Debug/net6.0/GuildedFRthisTime.pdb
obj/Debug/net6.0/ref/GuildedFRthisTime.dll
obj/Debug/net6.0/refint/GuildedFRthisTime.dll
